@font-face {
  font-family: TextaProAlt-Bold;
  src: url(TextaProAlt-Bold.otf);
}

@font-face {
  font-family: NVNValky-Regular;
  src: url(NVNValky-Regular.ttf);
}
@font-face {
  font-family: TextaProAlt-Regular;
  src: url(TextaProAlt-Regular.otf);
}
@font-face {
font-family: TextaProAlt-Light;
src: url(TextaProAlt-Light.otf);
}

body, html {
    margin: 0;
    background-image: url(BG.png);
    background-repeat: repeat;
    overflow-x: hidden;
  }
html{
  box-sizing:border-box;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
*,*:before,*:after{
  box-sizing:inherit
}

body{
  margin:0
}

header,footer{
  display: block;
  max-width: 1600px;
  min-width: 500px;
}

.imga{
  max-width:100%;
  height:auto
}
.topnav {
    float: none;
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    left:50%;
    top:2%;
    transform: translate(-50%);
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: TextaProAlt-Bold;
    font-size: 25px;
  }
  
  .topnav a:hover {
    color: rgb(255, 196, 0);
  }

  .topnav a:active {
    color: rgb(39, 152, 250);
  }
  .topnav a.h {
    color: rgb(39, 152, 250);
  }

  .title{
    font-family: NVNValky-Regular;
    font-size: 55px;
    color: rgb(39, 152, 250);
    text-align: center;
  }
  #s:hover{
    color: white
  }
  .para-r{
    position: relative;
    margin: 25px;
    z-index: 4;
  }
  .para-r p{
    width: 65%;
    word-wrap: break-word;
    color: #f2f2f2;
    font-family: TextaProAlt-Regular;
    font-size: 27px;
    text-align: justify;
    margin: 0 auto;
    z-index: 4;
  }
  .im{
    max-width:100%;
    height:auto;
    z-index: 1;
  }
  .one{
    position: absolute;
    z-index: 0;
    top: 170%;
    left: 70%;
  }
  .two{
    position: absolute;
    z-index: 0;
    top: 293.5%;
    left: 0%;
  }
footer{
  padding-top:32px!important;
  padding-bottom:32px!important;
  background-image: url("footer.png")!important;
  text-align: center!important;
  font-family: TextaProAlt-Light;
  font-size: 20px;
  color: white;
}
